<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.corporation8793.fontfolio">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- Without this folders will be inaccessible in Android-11 and above devices -->
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />

    <!-- Without this entry storage-permission entry will not be visible under app-info permissions list Android-10 and below -->
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="29"
        tools:ignore="ScopedStorage"/>

    <application
        android:name=".common.Fontfolio"
        android:allowBackup="true"
        android:requestLegacyExternalStorage="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Fontfolio">
        <activity android:name=".board.CreateBoardActivity">

        </activity>

        <activity android:name=".SelectFontStyleActivity">
        </activity>

        <activity android:name=".board.SaveBoardActivity" >

        </activity>
        <activity android:name=".MainActivity"></activity>
        <activity
            android:name=".login.AppLoginActivity"
            android:windowSoftInputMode="adjustNothing"></activity>
        <activity android:name=".login.LoginActivity"></activity>
        <activity android:name=".LoadingActivity"></activity>
        <activity
            android:name=".activity.SignUp"
            android:windowSoftInputMode="adjustNothing"
            android:exported="false" />
        <activity
            android:name=".activity.Join"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- OCR 액티비티 -->
        <activity android:name=".library.ocr.StartOcrActivity"/>
        <activity android:name=".library.ocr.TakePhoteActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize"
            android:screenOrientation="nosensor" />
        <activity android:name=".library.ocr.ShowCropperedActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize"
            android:screenOrientation="nosensor" />
    </application>

</manifest>